---
import Timeline from "./Timeline.astro";
---

<div>
  <section
    id="education"
    class="w-full container mx-auto flex items-center justify-center text-center px-4 min-h-screen"
  >
    <div class="mt-8 flex flex-col items-center justify-center text-start">
      <Timeline />
    </div>
  </section>
</div>
