---
import Section from "./Section.astro";
import Social from "./Social.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
const site = Astro.site;
---

<Section class="w-full">
  <div class="text-start">
    <Image
      src="https://avatars.githubusercontent.com/u/118774393?v=4"
      alt="Picture Profile"
      class="rounded-md object-cover w-40 h-40 md:w-64 md:h-64 mr-4 md:m-0 md:mr-4 float-left"
      width={248}
      height={248}
      loading="lazy"
    />

    <div class="w-full md:w-auto">
      <p class="pb-2 text-3xl sm:text-4xl font-bold">
        Hi, I'm <span class="text-uma">Udomsak Sanpasert</span>
      </p>

      <p class="py-2 text-sm sm:text-base">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur vero
        esse non molestias eos excepturi, inventore atque cupiditate. Sed
        voluptatem quas omnis culpa, et odit.Lorem ipsum dolor sit amet <span
          class="font-black text-sky-700">React</span
        > adipisicing elit. Tenetur vero esse non molestias eos excepturi, inventore
        atque cupiditate. Sed voluptatem quas omnis culpa, et odit.Lorem ipsum dolor
        sit amet consectetur <span class="font-black text-green-700"
          >Node.js</span
        > elit. Tenetur vero esse non molestias eos <span
          class="font-black text-gray-950">Next.js</span
        >, inventore atque cupiditate. Sed voluptatem quas omnis culpa, et odit.
      </p>

      <p class="py-2 text-sm sm:text-base">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur vero
        esse non molestias eos excepturi, inventore atque cupiditate. Sed
        voluptatem quas omnis culpa, et odit.Lorem ipsum dolor sit amet <span
          class="font-black text-fuchsia-700">Astro</span
        > adipisicing elit. Tenetur vero esse non molestias eos excepturi, inventore
        atque cupiditate. Sed voluptatem quas omnis culpa, et odit.
      </p>
    </div>
  </div>

  <div class="flex space-x-4 mt-6">
    <Social href="https://github.com/udomudom ">
      <Icon name="github" class="text-xl" />
    </Social>
    <Social href="http://linkedin.com/in/udomsak-sanprasert-79653133b">
      <Icon name="linkedin" class="text-xl" />
    </Social>
    <Social href="mailto:udomsak.sap@gmail.com">
      <Icon name="email" class="text-xl" />
    </Social>
  </div>
</Section>
