---
import Section from "./Section.astro";
import { Image } from "astro:assets";
---

<Section>
  <div
    class="flex flex-col md:flex-row md:items-center justify-between mb-10 max-w-fit"
  >
    <div class="mt-6 md:mt-0 flex justify-center">
      <div class="relative group">
        <Image
          src="https://avatars.githubusercontent.com/u/118774393?v=4 "
          alt="Udomsak Sanpasert"
          class="rounded-lg object-cover w-40 h-40 md:w-56 md:h-56 lg:w-64 lg:h-64"
          width={248}
          height={248}
          loading="eager"
        />
      </div>
    </div>
    <div class="text-center md:text-left mt-6 md:mt-0">
      <p class="text-4xl sm:text-5xl font-extrabold mb-3">
        Hola, I'm <span class="text-uma">Udomsak S.🛸</span>
      </p>
      <p class="text-xl text-gray-400 mb-5">Software Engineer</p>
      <div
        class="flex flex-col gap-3 items-center md:items-start text-gray-400"
      >
        <p>Thailand, Bangkok</p>
        <a
          href="mailto:udomsak.sap@gmail.com"
          class="hover:text-white transition-colors duration-200"
        >
          udomsak.sap@gmail.com
        </a>
      </div>
    </div>
  </div>
  <!-- <div class="flex flex-col items-center">
    <h2
      class="text-4xl font-semibold pb-10 flex gap-x-3 items-center text-center mb-4"
    >
      About Me
    </h2>
    <Image
      src="https://avatars.githubusercontent.com/u/118774393?v=4 "
      alt="Udomsak Sanpasert"
      class="rounded-md object-cover w-40 h-40 md:w-64 md:h-64 mr-4 md:m-0 md:mr-4"
      width={248}
      height={248}
      loading="eager"
    />
  </div>
  <div class="w-full md:w-auto">
    <p class="py-2 text-sm sm:text-base">
      Hola, I'm <span class="text-uma">Udomsak S.🛸</span>
    </p>
  </div> -->
</Section>
